.Achievements {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    color: white;
    max-height: fit-content;
  }
  .Achiev_list {
    display: flex;
    justify-content: space-evenly;
  }
  .Achiev {
    display: flex;
    flex-direction: column;
  }
  .Achiev_image_disabled {
    height: 100px;
    width: auto;
    opacity: 0.25;
    position: relative;
  }

  .Achiev_image_enabled  {
    height: 100px;
    width: auto;
    opacity: 1;
    position: relative;
  }

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext_disabled {
    visibility: hidden;
    background-color: rgb(239, 99, 99);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 25%;
  }

  .tooltip .tooltiptext_enabled {
    visibility: hidden;
    background-color: #63ef88;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 25%;
  
  }
  
  .tooltip .tooltiptext_disabled::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(239, 99, 99) transparent;
  }

  .tooltip .tooltiptext_enabled::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #63ef88 transparent;
  }
  
  .tooltip:hover .tooltiptext_disabled {
    visibility: visible;
  }

  .tooltip:hover .tooltiptext_enabled {
    visibility: visible;
  }