.main__userlist {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  min-width: 200px;
  height: 100%;
  overflow-y: auto;
  background-color: #8e8c8c39;
}

.list__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* background-color: #8e8c8c39; */
}
.list__section h2 {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  text-align: left;
  margin: 15px 0;
  font-size: 1.4rem;
  font-family: 'Kocak', sans-serif;
  color: #ffffff;
  text-shadow: #000000 2px 2px 1px;
  /* border-bottom: #ffffff7f 1px solid; */
}

.userlist__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  max-height: 80vh;
  gap: 10px;
  width: 95%;
}

.userlist__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}
.avatar img {
  max-width: 100%;
  object-fit: cover;
}

.avatar-img {
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.id_user {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  color: #ffffffc4;
  font-weight: 520;
}
.buttons button:hover {
  color: #fff;
  transform: scale(1.2)
}

.popup {
  position: absolute;
  right:0;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#CommandBox {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

#CommandBox i {
  flex: 0.25;
  display: flex;
  justify-content: center;
  font-size: 18px;
  border-right: 1px solid #9d9696;
  height: 100%;
  align-items: center;
}
#CommandBox span {
  flex: 0.8;
  display: flex;
  justify-content: center;
  font-size: medium;
  font-weight: bold;
}

.button__quitChannel{
  background-color: #af0f0f;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: inline-flex;
  align-items: center;
}
.button__quitChannel:hover{
  background-color: #ff0000;
  transform: scale(1.05);
}

.button__inviteChannel{
  background-color: #0f42af;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: inline-flex;
  align-items: center;
}
.button__inviteChannel:hover{
  background-color: #0080ff;
  transform: scale(1.05);
}
